In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('credit_card.csv')
df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [3]:
df.head(n=10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0
7,7.0,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0
8,7.0,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0
9,9.0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0

In [4]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [7]:
np.random.seed(123)
mask = np.random.rand(len(df)) < 0.7
train = df[mask]
test = df[~mask]

In [8]:
train.shape, test.shape

((199077, 31), (85730, 31))

In [9]:
# No changing in amount and Time column
# X = df[['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
#        'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
#        'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount']]

In [10]:
train_label = train.iloc[:, -1]
test_label = test.iloc[:, -1]

In [11]:
train_label.shape, test_label.shape

((199077,), (85730,))

In [12]:
fruad = df[df['Class']==1]
normal = df[df['Class']==0]

In [13]:
print(fruad.shape, normal.shape)

(492, 31) (284315, 31)

In [14]:
np.where(df.Amount.apply(lambda x:x == 0))

(array([   383,    514,    534, ..., 283949, 284085, 284770], dtype=int64),)

In [15]:
df.iloc[514, 29]

0.0

In [16]:
am = (df['Amount'].values == 0).sum()
am

1825

In [17]:
fruad.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [18]:
train_data = train.drop(columns='Class')

In [19]:
train_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,0.084968,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67

In [20]:
test_data = test.drop(columns='Class')

In [21]:
test_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.219633,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99
11,10.0,0.384978,0.616109,-0.874300,-0.094019,2.924584,3.317027,0.470455,0.538247,-0.558895,...,0.125992,0.049924,0.238422,0.009130,0.996710,-0.767315,-0.492208,0.042472,-0.054337,9.99
15,12.0,-0.752417,0.345485,2.057323,-1.468643,-1.158394,-0.077850,-0.608581,0.003603,-0.436167,...,0.263451,0.499625,1.353650,-0.256573,-0.065084,-0.039124,-0.087086,-0.180998,0.129394,15.99
21,17.0,0.962496,0.328461,-0.171479,2.109204,1.129566,1.696038,0.107712,0.521502,-1.191311,...,-0.269321,0.143997,0.402492,-0.048508,-1.371866,0.390814,0.199964,0.016371,-0.014605,34.09

In [22]:
test_data.dtypes

Time      float64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
dtype: object

In [23]:
from tensorflow.keras import models
from tensorflow.keras import layers

In [24]:
def built_model5():
    model2 = models.Sequential()
    model2.add(layers.Dense(100, activation='relu', input_shape=(train_data.shape[1],)))
    model2.add(layers.Dropout(0.5))
    model2.add(layers.Dense(1, activation='sigmoid'))
    
    model2.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
    
    return model2

In [25]:
model4 = built_model5()

In [26]:
history = model4.fit(train_data, train_label, epochs=10, validation_split=0.3,
                    validation_batch_size = 50, validation_steps = 10)

Epoch 1/10
4355/4355 [==============================] - 15s 2ms/step - loss: 45.5061 - accuracy: 0.9913 - val_loss: 1.7751 - val_accuracy: 0.9980
Epoch 2/10
4355/4355 [==============================] - 8s 2ms/step - loss: 0.5364 - accuracy: 0.9963 - val_loss: 0.0155 - val_accuracy: 0.9980
Epoch 3/10
4355/4355 [==============================] - 8s 2ms/step - loss: 0.1117 - accuracy: 0.9978 - val_loss: 0.0244 - val_accuracy: 0.9980
Epoch 4/10
4355/4355 [==============================] - 9s 2ms/step - loss: 0.0437 - accuracy: 0.9978 - val_loss: 0.0149 - val_accuracy: 0.9980
Epoch 5/10
4355/4355 [==============================] - 9s 2ms/step - loss: 0.0219 - accuracy: 0.9976 - val_loss: 0.0145 - val_accuracy: 0.9980
Epoch 6/10
4355/4355 [==============================] - 9s 2ms/step - loss: 0.0435 - accuracy: 0.9979 - val_loss: 0.0144 - val_accuracy: 0.9980
Epoch 7/10
4355/4355 [==============================] - 10s 2ms/step - loss: 0.0396 - accuracy: 0.9982 - val_loss: 0.0144 - val_accuracy: 0.9980
Epoch 8/10
4355/4355 [==============================] - 9s 2ms/step - loss: 0.0703 - accuracy: 0.9979 - val_loss: 0.0144 - val_accuracy: 0.9980
Epoch 9/10
4355/4355 [==============================] - 8s 2ms/step - loss: 0.0373 - accuracy: 0.9978 - val_loss: 0.0144 - val_accuracy: 0.9980
Epoch 10/10
4355/4355 [==============================] - 9s 2ms/step - loss: 0.0269 - accuracy: 0.9981 - val_loss: 0.0144 - val_accuracy: 0.9980

In [27]:
# len(df) * 2/len(train_data)

In [29]:
test_loss, test_accuracy = model4.evaluate(test_data, test_label)

2680/2680 [==============================] - 3s 1ms/step - loss: 0.0154 - accuracy: 0.9983

In [30]:
test_loss, test_accuracy

(0.015356381423771381, 0.9983086585998535)

In [31]:
pred = model4.predict(test_data)
pred

array([[8.9451616e-22],
       [3.0417899e-05],
       [9.5127353e-07],
       ...,
       [2.1341145e-03],
       [2.1341145e-03],
       [2.1341145e-03]], dtype=float32)

In [ ]:
# y = df[['Class']]

In [ ]:
# from sklearn.model_selection import train_test_split

In [ ]:
# x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=51)

In [ ]:
# x_train1, x_val, y_train1, y_val = train_test_split(x_train, y_train, test_size=0.1, random_state=101)

In [ ]:
# print("shape of x_train is =", x_train.shape)
# print("shape of y_train is =", y_train.shape)
# print("shape of x_test is =", x_test.shape)
# print("shape of y_test is =", y_test.shape)

In [ ]:
# x_train1.shape, y_train1.shape, x_val.shape, y_val.shape

In [ ]:
# sc.mean_

In [ ]:
# sc.scale_

In [ ]:
# x_train.describe().round(2)

In [ ]:
# from sklearn.linear_model import LinearRegression
# lr = LinearRegression()

In [ ]:
# model = lr.fit(x_train_sc, y_train)

In [ ]:
# model

In [ ]:
# model.coef_

In [ ]:
# model.intercept_

In [ ]:
# pred = model.predict(x_test_sc)
# pred

In [ ]:
# ds = pd.set_option('display.max_rows', None)
# ds

In [ ]:
# y_test.values

In [ ]:
# sco = model.score(x_test_sc, y_test)
# sco